
.header ,body,.text,.card{  
    flex-direction: column;
}
.header ,.footer{
    background-color: #1f2937;
}
.quote-space{
    background-color: #E5E7EB;
    color: #1f2937;
    font-style: italic;
   
}
.title, .header ,.main ,.text , body,.random-info,.card{
    display: flex;
}
.sub-title{
    font-size: 32px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    font-weight: 300;
}
.logo{
font-size: 32px;
flex: 1;
}
.header-link ,.subtext{
    color: #e5e7eb;
}
.logo, .main-text{
    color: #f9faf8;
}
.main-text{
    font-size: 48px;
}
.sign-up
{ background-color: #3882f6;

}
img{
    height: 200px;
    width: 300px;
}
.random-info{
    justify-content: center;
    gap: 50px;
}
.image{
border-color: #3882f6;
border-radius: 25px;
border-width: 2px;
border-style: solid;
padding: 20px;
width: 100px;
height: 100px;
}
.card{
    gap: 10px;
}
.quote-space{
    background-color: #e5e7eb;
    height: 300px;
}
#lol{
    background-color: #3882f6;
    width: 500px;
    display: flex;
}
.random-info button{
    background-color: #3882f6;
    border-color: #e5e7eb;
    color: #e5e7eb;
    border-radius: 25px;
    
}
.call-to-action{
    color: #E5E7EB;
}